body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(94, 250, 241), rgb(134, 42, 212));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    height: 25rem;
}

.card {
  height: 37em;
}


.filter {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    border-bottom: .1rem #c0c0c0 solid;
}

.filter div {
  flex: 1
}
